.header {
  background-repeat: repeat;
  background-image: url(../img/bacground_laptop.png);
  @media (min-width: 320px) {
    background-position: top -85px center;
    height: 364px;
  }
  @media (min-width: 1200px) {
    background-position: center;
    height: 446px;
  }
  &__div {
    position: absolute;
    &__svg {
      display: flex;
      box-sizing: content-box;
      @media (min-width: 320px) {
        width: 60px;
        height: 31px;
        padding-top: 24px;
        padding-left: 24px;
      }
      @media (min-width: 768px) {
        width: 100px;
        height: 50px;
        padding-top: 40px;
        padding-left: 40px;
      }
      @media (min-width: 1200px) {
        width: 137px;
        height: 68px;
      }
    }
    &__blur {
      border-radius: 100%;
      fill: linear-gradient(136deg, #c4c4c4 0%, rgba(196, 196, 196, 0) 100%);
      backdrop-filter: blur(30px);
    }
  }
  &__title {
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 900;
    text-align: center;
    color: $main_text;
    font-size: 50px;
    @media (min-width: 320px) {
      padding-top: 78px;
      font-size: 18px;
    }
    @media (min-width: 768px) {
      padding-top: 40px;
      font-size: 30px;
    }
    @media (min-width: 1200px) {
      font-size: 50px;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    @media (min-width: 320px) {
      padding-top: 25px;
    }
    @media (min-width: 768px) {
      padding-top: 27px;
    }
    @media (min-width: 1200px) {
      padding-top: 52px;
    }
    &__input {
      width: 270px;
      height: 40px;
      border-radius: 30;
      color: $grey;
      background: $inpute;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 30px;
      outline: none;
      display: flex;
      &__svg {
        display: flex;
        justify-content: end;
        padding-right: 30px;
        padding-top: 15px;
      }
      &__menu {
        width: 270px;
        height: 40px;
        border-radius: 30;
        color: $grey;
        background: $inpute;
        display: flex;
      }
    }
  }
}
