<footer class="footer">
   <ul class="footer__list">
     <li class="footer__item ">
       <button class="footer__btn footer__btn--piced">1</button>
     </li>
     <li class="footer__item">
       <button class="footer__btn">2</button>
     </li>
     <li class="footer__item">
       <button class="footer__btn">3</button>
     </li>
     <li class="footer__item">
       <button class="footer__btn">4</button>
     </li>
     <li class="footer__item">
       <button class="footer__btn">5</button>
     </li>
     <!-- <li class="footer__item">
       <button class="footer__btn">...</button>
     </li> -->
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">6</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">7</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">8</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">9</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">10</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">11</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">12</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">13</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">14</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">15</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">16</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">17</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">18</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">19</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">20</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">21</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">22</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">23</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">24</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">25</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">26</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">27</button>
     </li>
     <li class="footer__item--unvisible footer__item">
       <button class="footer__btn">28</button>
     </li>
     <li class="footer__item">
       <button class="footer__btn">29</button>
     </li>
   </ul>
   <p class="footer__paragraph">© 2021 | All Rights Reserved | Developed with ♥ by GoIT Students</p>
 </footer>
 