<section class="header">
  <div class="header__div">
    <div class="header__div__blur"></div>
    <a class="header__div__logo" href="./index.html">
      <img class="header__div__svg" src="./img/logo.svg" alt="logo" />
    </a>
  </div>
  <div class="container">
    <div>
      <h1 class="header__title">
        FIND BEST EVENTS <br />
        AROUND THE WORLD
      </h1>
    </div>
    <div>
      <ul class="header__form">
        <li class="header__form__input__search">
          <div class="header__form__input__menu">
            <input
              id="headerSearch"
              class="header__form__input"
              type="text"
              placeholder="Start searching"
            />
            <div>
              <img
                class="header__form__input__svg"
                src="./img/search_svg.svg"
                alt="search_svg"
              />
            </div>
          </div>
        </li>
        <li id="inputCountry" class="header__form__input__dropmenu">
          <div class="header__form__input__menu">
            <input
              id="countrySearch"
              class="header__form__input"
              type="text"
              placeholder="Choose country"
            />
            <div id="buttonDropmenuCountry">
              <img
                class="header__form__input__svg"
                src="./img/dropmenu_svg.svg"
                alt="dropmenu_svg"
              />
            </div>
          </div>
          <div class="header__dropmenu">
            <ul class="header__dropmenu__ul">
             
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
