    <section class="main">
        <div class="container">
            <ul class="main__cards">
                <li class="main__card">
                    <div class="main__image">
                        <img class="main__img" src="" alt=""></img>
                        <div class="main__img_border"></div>
                    </div>
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
