<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>

<body>
    <section class="main">
        <div class="container">
            <ul class="main__cards">
                <ul class="main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class="main__card   ">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class="main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class="main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class="main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class="main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
                <ul class=" main__card">
                    <img class="main__img" src="" alt="">
                    <h2 class="main__title"></h2>
                    <p class="main__date"></p>
                    <div class="main__locations">
                        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
                        <p class="main__location"></p>
                    </div>
                </ul>
            </ul>
        </div>
    </section>
    <script src=" https://kit.fontawesome.com/3653d2ff1e.js" crossorigin="anonymous">
    </script>
</body>

</html>