<!--<button class="button" data-action="open-modal">Відкрити модалку</button>-->
<!--<div class="backdrop js-backdrop">-->
<!--  <div class="modal">-->
<!--    <img src="./images/modal-images/modal-small-svg.svg" alt="photo">-->
<!--    <div class="big-photo">-->
<!--      <img src="./images/modal-images/modal-big-photo.png" alt="big-photo">-->
<!--    </div>-->
<!--    <div class="main-text">-->
<!--      <ul class="modal__info">-->
<!--        <li class="modal__list modal__information">-->
<!--          <h3 class="modal__title">INFO</h3>-->
<!--          <p class="modal__subtitle">-->
<!--            Atlas Weekend is the largest music festival-->
<!--            in Ukraine.More than 200 artists will create-->
<!--            a proper music festival atmosphere on 10 stages-->
<!--          </p>-->
<!--        </li>-->
<!--        <li class="modal__list modal__when">-->
<!--          <h3 class="modal__title">WHEN</h3>-->
<!--          <p class="modal__subtitle">2021-06-09-->
<!--          <p class="modal__subtitle">20:00 (Kyiv/Ukraine)</p>-->
<!--        </li>-->
<!--        <li class="modal__list modal__where">-->
<!--          <h3 class="modal__title">WHERE</h3>-->
<!--          <p class="subtitle">Kyiv, Ukraine</p>-->
<!--          <p class="subtitle">VDNH</p>-->
<!--        </li>-->
<!--        <li class="modal__list modal__who">-->
<!--          <h3 class="modal__title">WHO</h3>-->
<!--          <p class="modal__subtitle">The Black Eyed Peas</p>-->
<!--        </li>-->
<!--        <li class="modal__list">-->
<!--          <h3 class="modal__title">PRICES</h3>-->
<!--          <div class="modal__standart">-->
<!--            <img src="./images/modal-images/modal-ticket.svg" alt="ticket">-->
<!--            <p class="modal__standart&#45;&#45;price">Standart 300-500 UAH</p>-->
<!--            <button class="modal__buy&#45;&#45;ticket">BUY TICKETS</button>-->
<!--          </div>-->
<!--          <div class="modal__vip">-->
<!--            <img src="./images/modal-images/modal-ticket.svg" alt="ticket">-->
<!--            <p class="modal__vip&#45;&#45;price">VIP 1000-1500 UAH</p>-->
<!--            <button class="modal__buy&#45;&#45;ticket">BUY TICKETS</button>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="modal__load&#45;&#45;more">-->
<!--      <button class="modal__load&#45;&#45;more&#45;&#45;button">MORE FROM THIS AUTHOR</button>-->
<!--    </div>-->
<!--    <div class="close modal__close">&times;</div>-->
<!--  </div>-->
<!--</div>-->

<div id="content"></div>
