.header {
  background-repeat: repeat;
  background-image: url(../img/bacground_laptop.png);
  @media (min-width: 320px) {
    background-position: top -85px center;
    height: 364px;
  }
  @media (min-width: 1200px) {
    background-position: center;
    height: 446px;
  }
  &__div {
    position: absolute;
    &__logo {
      z-index: 2;
      position: relative;
    }
    &__svg {
      display: flex;
      box-sizing: content-box;
      @media (min-width: 320px) {
        width: 60px;
        height: 31px;
        padding-top: 24px;
        padding-left: 24px;
      }
      @media (min-width: 768px) {
        width: 100px;
        height: 50px;
        padding-top: 40px;
        padding-left: 40px;
      }
      @media (min-width: 1200px) {
        width: 137px;
        height: 68px;
      }
    }
    &__blur {
      position: absolute;
      border-radius: 100%;
      z-index: 1;
      fill: linear-gradient(136deg, #c4c4c4 0%, rgba(196, 196, 196, 0) 100%);
      backdrop-filter: blur(30px);
      @media (min-width: 320px) {
        width: 214px;
        height: 180px;
        left: -120%;
        top: -180%;
      }
      @media (min-width: 768px) {
        width: 359px;
        height: 302px;
        top: -180%;
        left: -120%;
      }
      @media (min-width: 1200px) {
        width: 402px;
        height: 477px;
        left: -100%;
        top: -250%;
      }
    }
  }
  &__title {
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 900;
    text-align: center;
    color: $main_text;
    font-size: 50px;
    @media (min-width: 320px) {
      padding-top: 78px;
      font-size: 18px;
    }
    @media (min-width: 768px) {
      padding-top: 40px;
      font-size: 30px;
    }
    @media (min-width: 1200px) {
      font-size: 50px;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    @media (min-width: 320px) {
      padding-top: 25px;
    }
    @media (min-width: 768px) {
      padding-top: 27px;
    }
    @media (min-width: 1200px) {
      padding-top: 52px;
    }
    &__input {
      width: 270px;
      height: 40px;
      border-radius: 30px;
      color: #d0d0d0;
      background: $inpute;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 30px;
      outline: none;
      display: flex;
      &__svg {
        display: flex;
        justify-content: end;
        padding-right: 30px;
        padding-top: 15px;
      }
      &__menu {
        width: 270px;
        height: 40px;
        border-radius: 30px;
        color: $grey;
        background: $inpute;
        display: flex;
      }
    }
  }
  &__dropmenu.show {
    display: block;
    opacity: 1;
    z-index: 1;
  }
  &__dropmenu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    height: 150px;
    padding-top: 1px;
    z-index: 1;

    &__ul {
      width: 235px;
      height: 100%;
      list-style-type: none;
      margin-left: 15px;
      padding: 0;
      overflow-y: scroll;
      border-radius: 0px 0px 30px 30px;
      &:-webkit-scrollbar-thumb {
        background-color: $inpute;
        width: 3px;
      }
    }
    &__li {
      background-color: $inpute;
    }
    &__button {
      background-color: $main_text;
      padding: 10px;
      width: 100%;
      text-align: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
